.wrapper {
  padding-top: 50px;
  background: #286da8;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  {/*border: 4px solid rgba(179,120,211);*/}
}
