.mentor-list {
  border: 2px solid #0b3c5d;
  /* border-top: 1px solid #000; */
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
  background: #ffffff;
  color: #000;
  line-height: 2;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.mentor-list p {
  margin: 0;
  font-size: 1rem;
}
.mentor-list .mentor-name {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mentor-list img {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 4rem;
  margin-left: 3rem;
}

.container {
  margin-bottom: 1rem;
}

/* .mentor-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 5vh;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
} */
