.container-profile {
  position: absolute;
  margin-top: -7%;
  margin-left: 73%;
  width: 25%;
  height: 60px;
  {/*border: 8px solid rgba(8,232,222);*/}
}

h1 {
  float: right;
  margin-left: 10px;
  margin-top: 20px;
}

 .profile-area img {
  float: right;
  display: inline-block;
  right: 10px;
  max-width: 50px;
  margin-bottom: 10px;
  color: white;
  }

.pan-img {
    max-width: 60%;
    margin: 20px 0px 20px 20px;
    color: white;
    box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #f5f5f1;
  }



.panel > .panel-heading {
  background-image: none;
  background-color: #28a8a3;
  color: #f5f5f1;
}
.panel > .panel-body {
    background-color: #d79257;
    color: #f5f5f1;
    height: 88%;
  }

.panel > .panel-footer {
    background-color: #696969;
    color: #f5f5f1;
  }

