.Footer {
  position: fixed;
  padding: 5px;
  width: 100%;
  height: 50px;
  color: #f5f5f1;
  background-color: #0b3c5d;
  border-top: 2px solid #f5f5f1;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 800;
  padding-top: 10px;
  font-size: 14px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.Footer {
  {/*border: 2px solid rgba(255,131,0);*/}
}
